@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body {
  margin-top: 10px;
}

body, label, .checkbox label {
	font-weight: 300;
}

/* CSS used here will be applied after bootstrap.css */
.add-cart-submit{
  margin-top: 23px;
}
.product {
  .product-price{
    color: #ED423A;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
